*.bak

/deploy/to-dh.sh
/deploy/from-dh.sh

/colab/app/webroot/uploads/track_version/filename/*.mp3
/colab/app/webroot/uploads/track_version/filename/*.ogg

# TODO: I've disabled this for now to make our deployment lives easier. -- CDZ 2012-02-09
# Prevent sensitive data from ending up in your repo
#/app/config/database.php
#/app/config/core.php

# prevent temporary files from ending up in our repo
/colab/app/tmp/cache/persistent/cake_*
/colab/app/tmp/logs/*.log
