/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, input, select, textarea { font-family: sans-serif; color: #222; }

a { color: #222; }
/*a:visited { color: #551a8b; }*/
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

/* BEGIN BUTTON CODE */

a.button {
background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #ffffff),color-stop(1, #dbdbdb));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#dbdbdb');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#dbdbdb')";
border: 1px solid #fff;
-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
border-radius: 18px;
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
padding: 5px 15px;
text-decoration: none;
text-shadow: #fff 0 1px 0;
float: left;
margin-right: 15px;
margin-bottom: 15px;
display: block;
color: #597390;
line-height: 24px;
font-size: 15px;
font-weight: bold;
}

a.button:hover {
background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #ffffff),color-stop(1, #eeeeee));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#eeeeee');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#eeeeee')";
color: #000;
display: block;
}

a.button:active {
background-image: -moz-linear-gradient(top, #dbdbdb, #ffffff);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #dbdbdb),color-stop(1, #ffffff));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#dbdbdb', EndColorStr='#ffffff');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#dbdbdb', EndColorStr='#ffffff')";
text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.5);
margin-top: 1px;
}

a.button {
border: 1px solid #979797;
}

a.button.icon {
cursor:pointer;
padding-left: 11px;
}

a.button.icon span{
padding-left: 36px;
color: #000000;
background: url(/img/icons.png) no-repeat 0 -4px;
}

a.button.icon.play span {
background-position: 16px -3px;
}

a.button.icon.rewind span{
background-position: -169px -3px;
}

a.button.icon.diff span{
background-position: -267px -5px
}

/* END BUTTON CODE */

div.diff {float:right}

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
/*dd { margin: 0 0 0 40px; }*/
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

/* core */

header#primary-header {
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
	
	/* grumble grumble */
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fcfcfc, #e6e6e6 100%);
	background-image: -webkit-linear-gradient(top, #fcfcfc, #e6e6e6 100%);
	background-image: -o-linear-gradient(top, #fcfcfc, #e6e6e6 100%);
	background-image: -ms-linear-gradient(top, #fcfcfc, #e6e6e6 100%);
	background-image: linear-gradient(top, #fcfcfc, #e6e6e6 100%);
}

header#primary-header h1 {
	background-color: transparent;
	margin: 20px 0 0 0;
	padding: 0;
	float: left;
}

header#primary-header h1 img {
	height: 100px;
}

header#primary-header a:hover {
	text-decoration: none;
}

header#primary-header #header-cont {
	width: 920px;
	margin: 0 auto;
}

#user-links {
	float: right;
	margin: 70px 0 0 0;
	text-align: right;
}

#user-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

#user-links li {
	list-style: none;
	padding: 0;
	margin: 5px 0 0 0;
}

#user-links a {
	font-size: 14px;
	color: #222;
}

#user-links img.avatar {
	float: right;
	margin: 2px 0 0 8px;
}

img.avatar {
	width: 38px;
	height: 38px;
	padding: 2px;
	background-color: white;
	border: 1px solid #ccc;
}

a:hover img.avatar {
	border: 1px solid #222;
}

#main {
	width: 920px;
	margin: 20px auto 0 auto;
}

#main h2 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin: 20px 0 10px 0;
	font-size: 22px;
}

p.control-links {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	margin: 0;
	padding: 5px 10px;
	display: inline;
	
	border: 1px solid #ddd;
	border-radius: 3px;
	background-color:#eaeaea;
	background-image: -moz-linear-gradient(top, #fafafa, #eaeaea 100%);
	background-image: -webkit-linear-gradient(top, #fafafa, #eaeaea 100%);
	background-image: -o-linear-gradient(top, #fafafa, #eaeaea 100%);
	background-image: -ms-linear-gradient(top, #fafafa, #eaeaea 100%);
	background-image: linear-gradient(top, #fafafa, #eaeaea 100%);
}

p.control-links a {
	margin-right: 12px;
}
p.control-links a:last-child {
	margin-right: 0;
}

a.danger {
	color: red;
}
a.danger:hover {
	text-decoration: none;
}

.track-widget {
	background-image: -moz-linear-gradient(top, #fcfcfc, #ddd 100%);
	background-image: -webkit-linear-gradient(top, #fcfcfc, #ddd 100%);
	background-image: -o-linear-gradient(top, #fcfcfc, #ddd 100%);
	background-image: -ms-linear-gradient(top, #fcfcfc, #ddd 100%);
	background-image: linear-gradient(top, #fcfcfc, #ddd 100%);
	
	padding: 5px;
	border: 1px solid #ccc;
	margin: 15px 0 0 0;
}

.track-widget .buttons {
	float: left;
	width: 65px;
	text-align: center;
	padding-top: 8px;
}

.track-widget button {
	width: 48px;
	height: 25px;
	margin-top: 6px;
}

.track-widget button img {
	max-height: 20px;
}

.track-widget .message {
	float: right;
	width: 840px;
	color: #222;
	text-shadow: #fafafa 1px 1px 0;
}
.track-widget.mid-width .message {
	width: 530px; // 840 - 310 (??)
}

.track-widget.mid-width {
	width: 600px; // 920 - 320
}

.track-widget:before, .track-widget:after { content: ""; display: table; }
.track-widget:after { clear: both; }
.track-widget { zoom: 1; }

.track-history {
	float: left;
}

.track-history ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.track-history li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#discussion {
	float: right;
	width: 290px;
}
#discussion textarea {
	width: 280px;
}
#discussion form {
	text-align: right;
}
#discussion input {
	/* submit button */
	margin-top: 5px;
	padding: 5px 10px;
}

#discussion ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#discussion li {
	list-style: none;
	padding: 8px 0 0 0;
	margin: 0;
	clear: both;
}

#discussion .avatar {
	float: left;
	margin-right: 8px;
}

footer {
	margin: 120px auto 80px auto;
	border-top: 1px solid #ddd;
	width: 920px;
	text-align: right;
}
footer p {
	font-size: 13px;
	color: #555;
	line-height: 18px;
}
footer a {
	color: #555;
}

tr.current-version {
	background-color: #98FF89 !important;
}

audio {
	width: 254px;
}


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
